@using RecipeWebsite.Data.Enum

@model Post

@* Header *@
<div class="py-5 text-center">
    <h2>Post Delete form</h2>
    <p class="lead">Got a post you want to delete? Delete it here!</p>
</div>

<form method="post" asp-action="Delete" enctype="multipart/form-data">

    <div class="row g-5">

        <form class="needs-validation" novalidate="">
            <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">

                <h4 class="mb-4">Recipe Details</h4>

                @* Title *@
                <div class="col-sm-12 mb-3">
                    <label asp-for="Title" class="form-label">Recipe Title</label>
                    <input asp-for="Title" type="text" class="form-control" id="title" placeholder="" required="" disabled readonly>
                    <div class="invalid-feedback">
                        Recipe Title is required.
                    </div>
                </div>

                @* Description *@
                <div class="col-sm-12 mb-3">
                    <label asp-for="Description" class="form-label">Recipe Description</label>
                    <input asp-for="Description" type="text" class="form-control" id="description" placeholder="" required="" disabled readonly>
                    <div class="invalid-feedback">
                        Recipe Description is required.
                    </div>
                </div>

                @* Link *@
                <div class="col-12 mb-3">
                    <label asp-for="Link" class="form-label">Recipe Link</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">@@</span>
                        <input asp-for="Link" type="text" class="form-control" id="link" placeholder="Youtube Recipe Link" required="" disabled readonly>
                    </div>
                    <div id="confirmPasswordHelpBlock" class="form-text">
                        Paste your youtube recipe link here.
                    </div>
                </div>

                @* Post Category *@
                <div class="col-md-12 mb-3">
                    <label asp-for="PostCategory" class="form-label">Post Category</label>
                    <select asp-for="PostCategory" asp-items="@Html.GetEnumSelectList<PostCategory>()" class="form-control" required="" disabled readonly>
                        <option value="">Choose a category</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid category.
                    </div>
                </div>

                @* Ingredients *@

                @* Recipe *@
                <div class="col-12 mb-3">
                    <label asp-for="Recipe" class="form-label">Recipe</label>
                    <textarea asp-for="Recipe" type="text" class="form-control" id="recipe" placeholder="recipe goes here" required="" rows="5" disabled readonly>Recipe Body</textarea>
                    <div class="invalid-feedback">
                        Recipe Body is required.
                    </div>
                </div>

                @* Image *@
                <div class="col-12 mb-5">
                    <label asp-for="Image">Image</label>
                    <input asp-for="Image" type="file" class="form-control" id="image" placeholder="Thumbnail" required="" disabled readonly>
                    <span asp-validation-for="Image" class="text-danger"></span>
                    <div class="invalid-feedback">
                        Recipe Thumbnail is required.
                    </div>
                </div>

                @*Submit*@
                <div class="form-group mb-3">
                    <button class="w-100 btn btn-danger btn-lg" type="submit">Delete Post</button>
                </div>

            </div>
        </form>

    </div>

</form>
